
node_modules/

*.swp


*.class

*.py[cod]

*.jar

target/

.idea/

TEST*.xml

node_modules


.env.local
.env.*.local

Dockerfile

pnpm-debug.log*

.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
app.html
